@import url("./reset.css");

:root {
    --app-dark-bg: #1a1d28;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-red: #ff3c57;
    --app-red-hover: #ff2846;
} 
  
body {
  background-color: var(--app-dark-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: min(100% - 30px, 1280px);
  margin-inline: auto;
  text-align: center;
}

/* -----------------------------------*/
/* Clock                              */
/* -----------------------------------*/

.clock {
  font-family: Orbitron, Lato, Inter, Display;
  margin-bottom: 30px;
  margin-right: 75px;
  width: 450px;
  height: 100px;
  font-size: 100px;
  font-weight: 500;
  /* Adding glow feature*/
  color: #ffff00;
  text-shadow: 
    0 0 10px #daa520,
    0 0 20px #ff4500,
    0 0 40px #0000cd,
    0 0 80px #800080;
  filter: saturate(60%);
  animation: steps(100) var(--interval) 1s infinite;
}


/* -----------------------------------*/
/* Output                             */
/* -----------------------------------*/

img {
  display: inline-block;
  margin-top: 30px;
  height: 30px;
  width: 30px;
}

.output {
  display: inline-block;
  margin: auto;
  width: 140px;
  height: 60px;
  font-size: 40px;
  color: #fff;
}

/* -----------------------------------*/
/* Input                              */
/* -----------------------------------*/

.input, button {
  display: inline-block;
  margin: auto;
  margin-top: 30px;
  padding: 15px 20px;
  margin-left: 10px;
  width: 150px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.input {
  background-color: rgb(255 255 255 / 0.3);
  border: solid 1px #000;
  text-align: center;
  width: 295px;
  border-radius: 5px;
}

/* -----------------------------------*/
/* Buttons                            */
/* -----------------------------------*/

button {
  color: #fff;
  background-color: var(--app-green);
  transition: all 0.3s ease-in-out;
}

.clear {
  background-color: var(--app-purple);
}

button:hover {
  letter-spacing: 0.5px;
  color: #000;
}


